.movie-rating {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 20px 10px 0 0;
}

#movie {
  font-size: 14px;
  color: #fff;
}

#messageNoReviews {
  padding-left: 20px;
  font-size: 16px;
}

.userReviews button img {
  width: 22px;
  height: 22px;
}

.userReviews button,
.userReviews button:focus {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.review-item .review {
  position: relative;
  padding: 20px;
  border: 2px solid #353535;
  border-radius: 8px;
  gap: 15px;
}

.review-buttons {
  position: absolute;
  top: 12px;
  right: 10px;

  display: flex;
  gap: 0;
}

.review-item .review-form {
  padding: 0 0 40px;
  margin: 0;
}

.review-item .comment-box {
  background: #353535;
}
