.movie-rating {
  display: flex;
  gap: 10px;
}

#movie {
  font-size: 14px;
  color: #ffff;
  white-space: nowrap;
}

#messageNoReviews {
  padding-left: 20px;
  font-size: 14px;
}

.userReviews button img {
  width: 22px;
  height: 22px;
}

.userReviews button,
.userReviews button:focus {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

.review-buttons {
  position: absolute;
  right: 25px;  
  top: -20px;
}

.buttons {
  position: absolute;
  right: -15px;
}

.comment {
  width: 100%;
  height: 100px;
  background-color: rgba(40, 40, 40, 0.5);
  border-radius: 22px;
  box-sizing: border-box;
  padding: 15px;
  font: 1.25rem / 1.5 sans-serif;
  font-size: 14px;
}

.comment:focus {
  outline: none;
}

.review-item .review-form {
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
}


