.review-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
  margin: 0 45px;
}

.review-form img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  flex-shrink: 0;
  
  margin-top: 20px;
  margin-right: 10px;
}

.review-form-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 2.5px;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 20px;
  transition: color 0.2s;
}

.rating input:checked ~ label {
  color: rgb(224, 170, 34);
}

.rating:not(:checked) label {
  color: #353535;
}

.rating label:hover,
.rating label:hover ~ label {
  color: rgb(241, 184, 38);
}

.comment-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 132px;
  background: #000;
  border: 2px solid #353535;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px 14px;
}

.comment {
  width: 100%;
  height: 80px;
  background: none;
  border: none;
  color: #fff;
  font: 14px / 1.5 sans-serif;
  padding: none;

  resize: none;
}

.comment:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.comment-box:focus-within,
.comment-box:not(:placeholder-shown) {
  background-color: #353535;
  outline: none;
}

.comment::placeholder {
  color: #888;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: auto;
  padding-top: 8px;
  font-size: 12px;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  margin: 0;
}

.review-form-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.review-form-buttons button {
  width: fit-content;
  display: inline-block;
  margin-left: 15px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 550;
  color: #fff;
  background: #252525;
}

.review-form-buttons button,
.review-form-buttons button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.review-edit-form {
  position: relative;
  padding: 15px 22px 0;
  
  width: 100%;
  max-width: 620px;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 8px;
  background-color: rgb(34, 34, 34);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.review-edit-form .review-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;

  padding: 40px 0 10px;
  gap: 10px;
}

.review-edit-form .movie-card {
  width: 122px;
  height: 184px;

  padding: 15px 0 25px;
  box-sizing: content-box;
}

.review-edit-form .movie-rating .rating {
  display: flex;
  flex-direction: row-reverse;
  line-height: 1;
}

.review-edit-form .comment-box {
  width: 100%;
  max-width: 365px;
  padding: 12px 14px;
  margin-bottom: 20px;
}

.review-edit-form .comment {
  flex: 1;
  min-height: 0;
}

.review-edit-form .review-buttons {
  position: absolute;
  display: flex;
  gap: 0px;
}

.review-edit-form .review-buttons button {
  padding: 5px 12px;   
}

#save img {
  width: 30px;
  height: 30px;
}

#close img {
  width: 24px;
  height: 24px;
}

.review-edit-form #save {
  padding: 0 5px;
}