.review-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
  margin: 0 45px;
}

.review-form img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  
  margin-top: 20px;
  padding-right: 10px;
}

.review-form-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 2.5px;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 20px;
  transition: color 0.2s;
}

.rating input:checked ~ label {
  color: rgb(224, 170, 34);
}

.rating:not(:checked) label {
  color: #353535;
}

.rating label:hover,
.rating label:hover ~ label {
  color: rgb(241, 184, 38);
}

.comment-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 100px;
  background: #000;
  border: 2px solid #353535;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px 14px;
}

.comment {
  width: 100%;
  height: 80px;
  background: none;
  border: none;
  color: #fff;
  font: 14px / 1.5 sans-serif;
  padding: none;

  resize: none;
}

.comment:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.comment-box:focus-within,
.comment-box:not(:placeholder-shown) {
  background: #353535;
  outline: none;
}

.comment::placeholder {
  color: #888;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: auto;
  padding-top: 8px;
  font-size: 12px;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  margin: 0;
}

.review-form-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.review-form-buttons button {
  width: fit-content;
  display: inline-block;
  margin-left: 15px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 550;
  color: #fff;
  background: #252525;
}

.review-form-buttons button,
.review-form-buttons button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}