.notifications {
    position: relative;
}

.bell div {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    
    cursor: pointer;
    transition: all 0.4s ease;
}

.bell div.open {
    width: 240px;
    border-radius: 20px 20px 0 0;
    justify-content: flex-start;
}

.bell div p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.notifications .bell img {
    width: 20px;
    height: 20px;

    position: relative;
    top: 10px;
    transform: translateY(-50%);
    margin-left: 10px;
}

.list-notifications {
    position: absolute;
    top: 40px;
    left: 0;
    width: 240px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;

    background: #fff;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.list-notifications p {
    margin: 0;
    font-size: 12.5px;
    color: #000;

    white-space: normal;
}

.list-notifications div {
    display: flex;
    align-items: center;

    cursor: pointer;
    transition: background-color 0.2s;
}

.list-notifications div.new {
    background-color: rgb(235, 235, 235);
}
