.library-page {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.filters button {
    padding: 10px 15px;
    background: #353535;
    color: #fff;
    font-size: 15px;
}

.filters button,
.filters button:focus {
    box-shadow: none;
    border: none;
}

.filters button:hover {
    background: rgb(36, 36, 36);   
}

#library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px; 
    padding: 20px 5px;
}