form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.profile-photo img {
    width: 140px;
    border-radius: 50%;
}

#pass1, #pass2 {
    position: relative;
    margin-bottom: 20px;
}

.edit p {
    position: absolute;
    left: 25px;
    top: 0px;
    transform: translateY(-50%);
    background-color: rgb(26, 26, 26);
    margin: 0px;
    padding: 0 6px;
    font-size: 14px;
    color: rgb(216, 216, 216);
}

.edit input {
    height: 50px;
    width: 400px;
    padding: 20px 44px 20px 20px;
    font-size: 14px;
    background: none;
    border-radius: 12px;
    border: 2px solid rgb(216, 216, 216);
    box-sizing: border-box;
}

.btnVisibility {
    position: absolute;
    right: 5px;
    top: 2px;
}

.btnVisibility, 
.btnVisibility:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.btnVisibility img {
    width: 24px;
    height: 24px;
}

#btnSubmit {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    padding: 12px 20px;
    color: #fff;
    background: #6b6b6b;
}