body {
    background-color: rgb(0, 0, 0);
}

.home {
    position: relative;
}

.home-recs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home-reviews {
    padding: 0 85px 20px;
    align-items: center;
}

#mess {
    padding: 50px 80px 10px;
}
