.slideshow {
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    cursor: pointer;
}

.slideshow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    pointer-events: none; 
    background:
        linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 4%,
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 0, 0, 0.4) 40%
        ),
        linear-gradient(
            to right,
            rgba(0, 0, 0, 1) 2%,
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 0, 0, 0.4) 40%
        );
}

.details,
.slide-dots {
    position: absolute;
    z-index: 10; 
}

.details {
    top: 55%;
    left: 80px;
    color: white;
}

#movie-title {
    font-size: 24px;
    margin: 0 0 12px 0;
}

#movie-overview {
    font-size: 15px;
    margin: 0;
    max-width: 650px; 
}

.slide-dots {
    top: 50%;
    right: 5px;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    rotate: 90deg;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.dot.active {
    background-color: white;
}
