.navBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: transparent;
    z-index: 1000;
}

.navBar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navBar-items {
    display: flex;
    align-items: center;
    gap: 50px;    
}

.pages {
    display: flex;
    gap: 20px;
}

.user {
    align-items: flex-end;
}

.userLoggedIn,
.userNotLoggedIn {
    display: flex;
    align-items: center;
    gap: 20px;
}  

.navBar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15.5px;
    cursor: pointer;
}

.logo a {
    font-size: 25px;
}

.search-box {
    position: relative;
}

.search-box-input input {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: none;
    padding: 0;

    background: #fff;
    color: #000;

    padding-left: 40px;
    cursor: pointer;

    transition: all 0.4s ease;
}

.search-box-input input.open {
    width: 240px;
    border-radius: 20px;
    outline: none;
}

.search-box-input input.open_name {
    width: 240px;
    border-radius: 20px 20px 0 0;
    outline: none;
}

.search-box-input input:focus {
    outline: none;
}

.search-box-input img {
    position: absolute;
    top: 50%;
    left: 10.8px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    cursor: pointer;
}

.search-box-res {
    position: absolute;
    top: 40px;
    left: 0;
    width: 240px;
    gap: 5px;

    background: #fff;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.search-box-res div {
    display: flex;
    align-items: center;

    cursor: pointer;
    transition: background-color 0.2s;
}

.search-box-res div:hover {
    background-color: rgb(235, 235, 235);
}

.search-box-res p {
    margin: 0;
    font-size: 12.5px;
    color: #000;

    white-space: normal;
}



