.acc {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.page {
    width: 80%;
    padding-top: 40px;
}

.navbar {
   width: 20%;
   display: flex;
   background-color: #444;
}

.navbar-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10x;
    gap: 20px;
}

.navbar-items button,
.navbar-items button:focus {
    text-align: left;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

