.usernav {
    display: flex;
    flex-direction: row;
    background: rgb(26, 26, 26);
}

.usernav-navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 40px;
    padding-left: 20px;
    gap: 20px;
}

.usernav-navbar button {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    padding: 14px;
    padding-left: 20px;
    color: #fff;
    background: none;
    border-radius: 12px;
}

.usernav-navbar button,
.usernav-navbar button:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.usernav-navbar button:hover {
    background: rgb(36, 36, 36);   
}

.usernav-navbar button.active {
    background: rgb(46, 46, 46);   
}

.page {
    padding-top: 40px;
    padding-left: 40px;
}