form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

#pass1, #pass2 {
    position: relative;
    margin-bottom: 20px;
}

.label {
    position: absolute;
    left: 25px;
    top: 0px;
    transform: translateY(-50%);
    background-color: rgba(36, 36, 36);
    margin: 0px;
    padding: 0 6px;
    font-size: 14px;
    color: rgb(124, 124, 124);
}

input {
    height: 50px;
    width: 400px;
    padding: 20px 44px 20px 20px;
    font-size: 14px;
    background: none;
    border-radius: 12px;
    border: 2px solid rgb(124, 124, 124);
    box-sizing: border-box;
}

.btnVisibility {
    position: absolute;
    right: 5px;
    top: 2px;
}

.btnVisibility, 
.btnVisibility:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.btnVisibility img {
    width: 24px;
    height: 24px;
}

#btnSubmit {
    position: absolute;
    width: fit-content;
    padding: 12px 20px;
    margin-top: 10px;
    color: #ffff;
    background: #353535;
}