#login {
    display: flex;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

#login-left {
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

#login-right {
    width: 60%;
}

#login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#login-right::after {
    content: '';
    position: absolute;
    top: 0;
    left: 40%;
    width: 50%; 
    height: 100%;
    
    background: linear-gradient(to right, 
                rgb(0, 0, 0) 2%,
                rgba(0, 0, 0, 0.8) 20%,
                rgba(0, 0, 0, 0.2) 42%,
                rgba(0, 0, 0, 0) 100%);

    opacity: 1;
}

form {
    width: 100%;
    max-width: 400px;
}

form p {
    padding: 10px 2px;
}

#message {
    padding: 0;
    margin-bottom: 45px;
    font-size: 24px;
}

#username,
#pass {
    position: relative;
    margin-bottom: 20px;
    
    width: 100%;
    max-width: 315px;
    
    padding: 2px;
}

#pass {
    align-items: center;
}

.label {
    position: absolute;
    left: 25px;
    top: 0px;
    transform: translateY(-40%);
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0 6px;
    font-size: 12.5px;
    color: rgb(216, 216, 216);
}

input {
    height: 45px;
    width: 100%;
    max-width: 315px;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    background: none;
    border-radius: 12px;
    border: 2px solid rgb(216, 216, 216);
}

#pass input {
    padding-right: 52px;
}

#btnVisibility {
    position: absolute;
    top: 2.5px;
    right: 8px;
}

#btnVisibility, 
#btnVisibility:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

#btnVisibility img {
    width: 24px;
    height: 24px;
}

.btnLogin {
    width: 80%;
    display: flex;
    justify-content: center;
}

.btnLogin button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    color: #fff;
    background: rgba(185, 0, 0, 0.815);
}

.btnLogin button,
.btnLogin button:focus {
    border: none;
    box-shadow: none;
    outline: none;
}